# macOS
.DS_Store
._*

# Editors
.vscode/
.idea/
*.swp

# Node / build junk (in case you add tooling later)
node_modules/
dist/
.env
.env.local

# Logs
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
